.sheetgroup {
    display: flex;
}

.fieldgroup {
    display: flex;
    flex-direction: column;
#    justifyContent: space-between;
}

.mainsheet {
    display: inline-block;
    vertical-align: top;
#        border-style: solid;
#        border-width: 1px;
}

.fieldsheet {
    margin: 10px;
}

canvas {
    background-color: #eee;
}
